<link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
<div class="content" role="main">
  <header class="header header-6">
  </header>
  <nav class="sidenav">
    <section class="sidenav-content">
      <img src="assets/logo.jpg" class="logo">
      <a class="nav-link nav-icon"><cds-icon shape="home"></cds-icon></a>
      <a class="nav-link nav-icon"><cds-icon shape="line-chart"></cds-icon></a>
      <a class="nav-link nav-icon bottom-icon"><cds-icon shape="user"></cds-icon></a>
    </section>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-4">
        </div>
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-header">
              Octomize
            </div>
            <div class="clr-row">
              <div class="clr-col-lg-6 clr-col-12">
                <a href="javascript:void(0)" class="card clickable">
                  <div class="card-img">
                    Benchmark
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      ...
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-lg-6 clr-col-12">
                <a href="javascript:void(0)" class="card clickable">
                  <div class="card-img">
                    Accelerate
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      ...
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="card-block">
              <div class="card-title">
                Hardware targets
                <span>
                <button class="btn btn-sm btn-primary">Add</button>
              </span>
              </div>
              <div class="card-text">
                ...
              </div>
            </div>
            <div class="card-footer">
              <div>
                Provider
              </div>
              <div>
                Instance
              </div>
              <div>
                VCPU
              </div>
              <div>
                Memory (GIB)
              </div>
              <clr-dropdown>
                <button class="btn" clrDropdownTrigger>
                  Open Dropdown
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <clr-dropdown-menu>
                  <div aria-label="Dropdown header Action 1" clrDropdownItem>Action 1</div>
                  <div aria-label="Dropdown header Action 2" clrDropdownItem>Action 2</div>
                </clr-dropdown-menu>
              </clr-dropdown>
<!--              <button class="btn btn-sm btn-link">Footer Action 1</button>-->
<!--              <button class="btn btn-sm btn-link">Footer Action 2</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
