<link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
<div class="content" role="main">
  <nav class="sidenav">
    <section class="sidenav-content">
      <img src="assets/logo.jpg" class="logo">
      <a class="nav-link nav-icon"><cds-icon shape="home"></cds-icon></a>
      <a class="nav-link nav-icon"><cds-icon shape="line-chart"></cds-icon></a>
      <a class="nav-link nav-icon bottom-icon"><cds-icon shape="user"></cds-icon></a>
    </section>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-4">
        </div>

        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-header">
              Octomize
            </div>
            <div class="clr-row checkBox">
              <div class="clr-col-sm-12 clr-col-md-10">
                <a href="javascript:void(0)" class="card clickable">
                  <div class="card-img">
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox name="benchmark" required [(ngModel)]="benchmarkIsChecked" />
                      <label class="optionsTitle">Benchmark</label>
                    </clr-checkbox-wrapper>
                    <i class="fa fa-caret-down content-down" aria-hidden="true"></i>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      Subcontent about Benchmarks
                    </p>
                    <p *ngIf="benchmarkIsChecked">
                      <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox name="accelerate" required [(ngModel)]="onxChecked" />
                        <label class="optionsTitle">ONNX Engine</label>
                      </clr-checkbox-wrapper>
                      <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox name="accelerate" required [(ngModel)]="tvmChecked" />
                        <label class="optionsTitle">TVM Engine</label>
                      </clr-checkbox-wrapper>
                      <clr-input-container>
                        <label>Number of Trials</label>
                        <input clrInput placeholder="Enter Number of Trials" name="input" [(ngModel)]="numTrials" />

                      </clr-input-container>
                      <clr-input-container>
                        <label>Runs Per Trial</label>
                        <input clrInput placeholder="Enter Runs Per Trial" name="input" [(ngModel)]="runsPerTrial" />
                      </clr-input-container>
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="clr-row checkBox">
              <div class="clr-col-sm-12 clr-col-md-10">
                <a href="javascript:void(0)" class="card clickable">
                  <div class="card-img">
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox name="accelerate" required [(ngModel)]="accelerateIsChecked" />
                      <label class="optionsTitle">Accelerate</label>
                    </clr-checkbox-wrapper>
                    <i class="fa fa-caret-down content-down" aria-hidden="true"></i>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      More information about Accelerate
                    </p>
                    <p class="card-text" *ngIf="accelerateIsChecked">
                      <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox name="accelerate" required [(ngModel)]="onxChecked" />
                        <label class="optionsTitle">ONNX Engine</label>
                      </clr-checkbox-wrapper>
                      <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox name="accelerate" required [(ngModel)]="tvmChecked" />
                        <label class="optionsTitle">TVM Engine</label>
                      </clr-checkbox-wrapper>
                      <clr-input-container>
                        <label>Number of Trials</label>
                        <input clrInput placeholder="Enter Number of Trials" name="input" [(ngModel)]="numTrials" />

                      </clr-input-container>
                      <clr-input-container>
                        <label>Runs Per Trial</label>
                        <input clrInput placeholder="Enter Runs Per Trial" name="input" [(ngModel)]="runsPerTrial" />
                      </clr-input-container>
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="card-block" >
              <div class="card-title" class="cardTitle">
                Hardware targets
                <span>
                <button class="btn btn-sm btn-primary add-btn" (click)="openModal = true;">Add</button>
              </span>
              </div>
            </div>

            <clr-datagrid>
              <clr-dg-column>Provider</clr-dg-column>
              <clr-dg-column>Instance</clr-dg-column>
              <clr-dg-column>CPU</clr-dg-column>
              <clr-dg-column>Memory</clr-dg-column>

              <clr-dg-row *ngFor="let hardware of datagridArr">
                <clr-dg-cell>{{hardware.provider}}</clr-dg-cell>
                <clr-dg-cell>{{hardware.instance}}</clr-dg-cell>
                <clr-dg-cell>{{hardware.cpu}}</clr-dg-cell>
                <clr-dg-cell>{{hardware.memory}}</clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>
          </div>
        </div>

        <div class="clr-col-md-2">
          <div class="card">
            <div class="card-header">
              Total Runs
            </div>
            <div class="card-block">
              <button class="btn btn-sm btn-primary add-btn" *ngIf="checkAllValuesPresent()" (click)="sendBenchmarkObj()">Octomize</button>
              <div class="card-text">
                {{datagridArr.length}}
              </div>
            </div>
          </div>
      </div>

      <clr-modal [(clrModalOpen)]="openModal">
        <h3 class="modal-title">Select a provider</h3>
        <div class="modal-body">
          <form clrForm>
            <clr-datalist-container>
              <input name="providerSelection" required clrDatalistInput [(ngModel)]="providerSelection"/>
              <datalist>
                <option *ngFor="let provider of getProviders()" [value]="provider">{{provider}}</option>
              </datalist>
              <clr-control-helper>Select Provider</clr-control-helper>
              <clr-control-error>There was an error</clr-control-error>
            </clr-datalist-container>
          </form>
          <form clrForm>
            <clr-datalist-container>
              <input name="instanceSelection" required clrDatalistInput [(ngModel)]="instanceSelection"/>
              <datalist>
                <option *ngFor="let instance of getInstances(providerSelection)" [value]="instance">{{instance}}</option>
              </datalist>
              <clr-control-helper>Select Instance</clr-control-helper>
              <clr-control-error>There was an error</clr-control-error>
            </clr-datalist-container>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="openModal = false; addRow()">Add</button>
        </div>
      </clr-modal>
    </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
