.logo {
  width:25px;
  height:25px;
  margin-left:40px;
  margin-top: 1.2rem;
}
.sidenav-content {
  height:100vh !important;
  position: absolute;
}

.nav-link {
  margin:3.2rem 0 0 1.5rem !important;
}

.bottom-icon {
  margin: 28rem 0 0 1.5rem !important;
}
