<link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
<div class="content" role="main">
  <nav class="sidenav">
    <section class="sidenav-content">
      <img src="assets/logo.jpg" class="logo">
      <a class="nav-link nav-icon"><cds-icon shape="home"></cds-icon></a>
      <a class="nav-link nav-icon"><cds-icon shape="line-chart"></cds-icon></a>
      <a class="nav-link nav-icon bottom-icon"><cds-icon shape="user"></cds-icon></a>
    </section>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-4">
        </div>
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-header">
              Octomize
            </div>
            <div class="clr-row checkBox">
              <div class="clr-col-sm-12 clr-col-md-10">
                <a href="javascript:void(0)" class="card clickable">
                  <div class="card-img">
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox name="benchmark" required [(ngModel)]="benchmarkIsChecked" />
                      <label class="optionsTitle">Benchmark</label>
                    </clr-checkbox-wrapper>
                    <i class="fa fa-caret-down content-down" aria-hidden="true"></i>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      Subcontent about Benchmarks
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="clr-row checkBox">
              <div class="clr-col-sm-12 clr-col-md-10">
                <a href="javascript:void(0)" class="card clickable">
                  <div class="card-img">
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox name="accelerate" required [(ngModel)]="accelerateIsChecked" />
                      <label class="optionsTitle">Accelerate</label>
                    </clr-checkbox-wrapper>
                    <i class="fa fa-caret-down content-down" aria-hidden="true"></i>
                  </div>
                  <div class="card-block">
                    <p class="card-text">
                      More information about Accelerate
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="card-block">
              <div class="card-title">
                Hardware targets
                <span>
                <button class="btn btn-sm btn-primary add-btn" (click)="openModal = true;">Add</button>
              </span>
              </div>

            </div>
            <clr-modal [(clrModalOpen)]="openModal">
              <h3 class="modal-title">Select a provider</h3>
              <div class="modal-body">
                <clr-combobox-container>
                  <clr-combobox [(ngModel)]="providerSelection" name="select provider" required [disabled]="disabled">
                    <clr-options>
                      <clr-option clrValue="Amazon Web Services">Amazon Web Services</clr-option>
                      <clr-option clrValue="Google Cloud">Google Cloud</clr-option>
                      <clr-option clrValue="Microsoft Azure">Microsoft Azure</clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-combobox-container>
                  <clr-combobox [(ngModel)]="instanceSelection" name="instanceSelection" required [disabled]="disabled">
                    <clr-options>
                      <clr-option *clrOptionItems="let instance of instanceOptions; field:'name'" [clrValue]="instance">
                        <cds-icon shape="world" role="img" aria-label="World is turning"></cds-icon> {{instance}}
                        <cds-icon shape="sun" role="img" aria-label="Sun is shining"></cds-icon>
                      </clr-option>
                    </clr-options>

                  </clr-combobox>
                </clr-combobox-container>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="openModal = false">Add</button>
              </div>
            </clr-modal>
            <div class="card-footer">
<!--              <div>-->
<!--                Provider-->
<!--              </div>-->
<!--              <div>-->
<!--                Instance-->
<!--              </div>-->
<!--              <div>-->
<!--                VCPU-->
<!--              </div>-->
<!--              <div>-->
<!--                Memory (GIB)-->
<!--              </div>-->
<!--              <clr-dropdown>-->
<!--                <button class="btn" clrDropdownTrigger>-->
<!--                  Select-->
<!--                  <i class="fa fa-caret-down" aria-hidden="true"></i>-->
<!--                </button>-->
<!--                <clr-dropdown-menu>-->
<!--                  <div aria-label="Dropdown header Action 1" clrDropdownItem>Amazon Web Services</div>-->
<!--                  <div aria-label="Dropdown header Action 2" clrDropdownItem>Google Cloud</div>-->
<!--                  <div aria-label="Dropdown header Action 2" clrDropdownItem>Microsoft Azure</div>-->
<!--                </clr-dropdown-menu>-->
<!--              </clr-dropdown>-->
              <table class="table">
                <thead>
                <tr>
                  <th>Provider</th>
                  <th>Instance</th>
                  <th>VCPU</th>
                  <th>Memory (GIB)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>

<!--                    <clr-dropdown>-->
<!--                      <button class="btn" clrDropdownTrigger>-->
<!--                        Select-->
<!--                        <i class="fa fa-caret-down" aria-hidden="true"></i>-->
<!--                      </button>-->
<!--                      <clr-dropdown-menu>-->
<!--                        <div aria-label="Dropdown header Action 1" clrDropdownItem>Amazon Web Services</div>-->
<!--                        <div aria-label="Dropdown header Action 2" clrDropdownItem>Google Cloud</div>-->
<!--                        <div aria-label="Dropdown header Action 3" clrDropdownItem>Microsoft Azure</div>-->
<!--                      </clr-dropdown-menu>-->
<!--                    </clr-dropdown>-->
                  </td>
                  <td>1</td>
                  <td>1</td>
                  <td class="hidden-xs-down">I</td>
                </tr>
<!--                <ng-container *ngFor= "let row of rows">-->
<!--                  <tr  *ngIf="row['category']==='M'"><td>...</td><td>...</td></tr>-->
<!--                </ng-container>-->
                </tbody>
              </table>


<!--              <button class="btn btn-sm btn-link">Footer Action 1</button>-->
<!--              <button class="btn btn-sm btn-link">Footer Action 2</button>-->
            </div>
          </div>
        </div>
<!--        <div class="clr-col-md-2">-->
<!--          <div class="card">-->
<!--            <div class="card-header">-->
<!--              Total Runs-->
<!--            </div>-->
<!--            <div class="card-block">-->
<!--              <button class="btn btn-sm btn-primary add-btn">Octomize</button>-->
<!--              <div class="card-text">-->
<!--                0-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--      </div>-->
    </div>
  </div>

</div>
<router-outlet></router-outlet>
